<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
  </head>
  <body>
    <div id="app">
      <ul v-for="(i, index) in fruits">
        <li>{{i}} {{index}} <button @click="hapus(index)">x</button></li>
      </ul>

      <ul v-for="(player, index) in footballPlayers">
        <li>{{ player.name }} - {{ player.position }} - {{ index }}</li>
      </ul>
    </div>
    <script type="module">
      import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

      createApp ({
        setup() {
          const fruits = ref(['apple', 'orange', 'lemon', 'papaya']);
          const footballPlayers = ref([
            {name: 'messi', position: 'forward'},
            {name: 'ronaldo', position: 'goalkeeper'},
            {name: 'cassidy', position: 'back'},
            {name: 'sramos', position: 'defender'},
            {name: 'pamungkas', position: 'tothebone'},
          ]);
          return {
            fruits,
            footballPlayers,
          }
        },
        methods: {
          hapus(index){
            this.fruits.splice(index, 1)
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>